.searchContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.searchBox {
  position: relative;
}
.searchInput {
  border-radius: 10px;
  height: 25px;
  padding: 5px 30px 5px 10px;
}
.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 100%;
  border: none;
  background: none;
}
